@page "/weather"

@inject IHttpClientFactory httpFactory



<h3>Lista Sensorów</h3>



@if (sensors == null)

{

    <p>Ładowanie danych...</p>

}

else

{

    <table border="1">

        <thead>

            <tr>

                <th>ID Sensora</th>

                <th>Nazwa</th>

                <th>Czas</th>

                <th>Stan</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var sensor in sensors)

            {

                <tr>

                    <td>@sensor.SensorId</td>

                    <td>@sensor.Name</td>

                    <td>@sensor.EnqueuedTime.ToString("yyyy-MM-dd HH:mm:ss")</td>

                    <td>@sensor.Value</td>

                </tr>

            }

        </tbody>

    </table>

}



@code {

    private List<Sensor>? sensors;



    protected override async Task OnInitializedAsync()

    {

        var httpClient = httpFactory.CreateClient("blah"); // Nazwa klienta HTTP musi być poprawna!

        sensors = await httpClient.GetFromJsonAsync<List<Sensor>>("api/Sensor/GetAll");
    }



    public class Sensor

    {

        public string SensorId { get; set; }

        public string Name { get; set; }

        public DateTime EnqueuedTime { get; set; }

        public string Value { get; set; }

    }

}